<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="Softy Pinko"/>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="#welcome" class="active">Home</a></li>
            <li><a href="#features">About</a></li>
            <li><a href="#work-process">Events</a></li>
            <li><a href="#testimonials">Gallery</a></li>
            <li><a href="#pricing-plans">Features</a></li>
            <li><a href="#blog">Blog Entries</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <li><a [routerLink]="'/register'"><i class="fas fa-user-plus fa-lg"></i></a></li>
            <li><a [routerLink]="'/login'"><i class="fas fa-sign-in-alt fa-lg"></i></a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1>The Ideal Location</h1>
          <p>Our teachers are dedicated to their profession and make the best possible outcome keeping performance in mind. We have different schedules for juniors and seniors as mentioned here. We build a personality a human who believes in himself and achieves his dream .</p>
          <!--          <a href="#features" class="main-button-slider">Discover More</a>-->
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

